<div class="row mb-4 mr-1" routerLink="/user/new">
  <div class="col text-right">
      <button class="btn btn-primary">Create User/Admin</button>
  </div>
</div>

<div class="row">
    <div class="col">
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">User ID</th>
                <th scope="col">Full Name</th>
                <th scope="col">Email</th>
                <th scope="col">Gender</th>
                <th scope="col">Phone</th>
                <th scope="col">Type</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            
            <tbody>
              <tr *ngFor="let item of listOfUser; let i = index">
                <th scope="row">{{item.id}}</th>
                <td>{{item.nama}}</td>
                <td>{{item.email}}</td>
                <td>{{item.gender}}</td>
                <td>{{item.phone}}</td>
                <td style="pointer-events: none;">
                    <span class="badge badge-pill badge-secondary" *ngIf="item.status == '0'">Reguler</span>
                    <span class="badge badge-pill badge-primary" *ngIf="item.status == '1'">Admin</span>
                </td>
                <td *ngIf="flags.isDeletingUser != item.email">
                    <button class="btn btn-primary btn-sm mr-1"
                    [disabled]="flags.isDeletingUser" routerLink="/user/edit/{{item.id}}">Edit</button>
                    <button class="btn btn-danger btn-sm" (click)="deleteUser(item.nama, item.email)"
                    [disabled]="flags.isDeletingUser">Delete</button>
                </td>
                <td *ngIf="flags.isDeletingUser == item.email">
                  <span class="btn btn-danger btn-sm">
                    <div class="spinner-border spinner-border-sm" role="status"></div> Deleting...
                  </span>

                </td>

              </tr>
            </tbody>
          </table>
    </div>
</div>